:root {
    /* pallet */
    --clr1: #040a2c;
    --clr2: #e3e3e3;
    --clr3: #ff7f00;
    --clr4: #8a8a8a;
    --clr-1: #000;
    --clr-2: #fff;

    /* BP */
    --l: 1200px;
    --m: 860px;
    --s: 600px;

    /* main-container-high */
    --mch: calc(100vh - 207px - 66px)
}

* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */
@font-face {
    font-family: playfair, 'Times New Roman', Times, serif;
    src: url(/fonts/Playfair/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: ubuntu, Arial, Helvetica, sans-serif;
    src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
    font-family: inconsolata, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    src: url(/fonts/Inconsolata/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url(/fonts/Impact/impact.ttf);
}

/* montserrat */
@font-face {
    font-family: montserrat-regular, Arial, Helvetica, sans-serif;
    src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-thin;
    src: url(/fonts/Montserrat/Montserrat-Thin.ttf);
}

/* BASICS  */

html {
    color: var(--clr1);
    font-family: montserrat-regular;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

/* HELPERS */

/* flex helpers */
.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

.flex.center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.space-evenly {
    justify-content: space-evenly;
}

.flex.align-center {
    align-items: center;
}

/* list helpers */
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Layout */
.main-layout {
    height: 100vh;
}

/* COMPONENTS */

/* logo */
.logo img {
    max-height: 30px;
}

/* header  */
.main-header {
    background-color: var(--clr3);
    padding: 0 10px;
}

/* main-nav */

.main-nav a {
    text-decoration: none;
    font-size: 1.1875em;
    min-height: 66px;
    display: block;
    line-height: 66px;
    color: var(--clr-2)
}

.main-nav a.active {
    box-shadow: inset 0 -6px 0 var(--clr1);
    color: var(--clr1);
    cursor: not-allowed;
}

.main-nav a:hover:not(.active) {
    color: var(--clr4);
}

.main-nav .seperator {
    color: var(--clr4);
}

/* Main Content */
.main-content {
    background-color: var(--clr2);
}

/* Image-Gallery */

.image-gallery .gallery-header {
    min-height: 100px;
    background-color: var(--clr-2);
    padding: 10px;
}

.image-gallery .gallery-header ul>*:not(:last-child) {
    padding: 0 31px;
    font-size: 1.1875em;
}

.gallery-header ul .more {
    text-decoration: underline;
}

.image-gallery .image-gallery-area {
    display: grid;
    padding: 10px;
    row-gap: 2.5px;
    column-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.image-gallery .image-gallery-area img {
    cursor: pointer;
}


/* Meme-Editor */

.meme-editor {
    padding: 15px 0;
}

.editor-container {
    align-items: center;
}

/* canvas */
.canvas-container {
    aspect-ratio: 1 / 1;
    position: relative;
    cursor: grab;
    margin-bottom: 15px;
}

.canvas-container .line-highlighter {
    position: absolute;
    height: 50px;
    border: 1px dashed black;
    background-color: rgb(138, 138, 138, 40%);
    z-index: 10;
    width: 100%;
    top: 0;
}


/* control box */

.control-box {
    min-width: 373px;
}

.control-box button,
.control-box select {
    cursor: pointer;
    border-radius: 12px;
    border: none;
}

.control-box .meme-handlers button:not(:disabled),
.control-box select:not(:disabled) {
    background-color: var(--clr-2);
}

.control-box .meme-handlers button:disabled,
.control-box select:disabled,
.control-box .meme-handlers input:disabled {
    background-color: lightcoral;
}

.control-box select:focus {
    outline: none;
}

.control-box select {
    font-size: larger;
}

.control-box select,
.control-box select>* {
    font-family: montserrat-medium;
}

.control-box .font-and-color input {
    cursor: pointer;
}

.control-box button>* {
    height: 60px;
    width: 60px;
    padding: 10px;
    border: none;
}

.control-box .meme-handlers>* {
    margin-bottom: 18px;
    gap: 18px
}

.control-box .meme-lines-control,
.text-size-and-align,
.font-and-color {
    gap: 18px;
}

.text-size-and-align {
    flex-wrap: wrap;
}

.control-box select {
    padding: 10px;
}

.control-box .fill-color-selector,
.control-box .stroke-color-selector {
    height: 100%;
}

.control-box .posting-btns>* {
    background-color: var(--clr3);
    font-family: montserrat-medium;
    color: var(--clr-2);
    border: none;
    border-radius: 12px;
    height: 60px;
    width: 120px;
    font-size: 1.25em;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.control-box button:not(:disabled):hover,
.control-box select:not(:disabled):hover,
.control-box input:not(:disabled):hover {
    background-color: var(--clr4);
}

.user-msg {
    margin: 0;
    text-align: center;
    height: 38px;
    margin-top: 15px;
}

/* footer */
.main-footer {
    min-height: 207px;
    background-color: var(--clr3);
}

.main-footer p {
    font-family: montserrat-thin;
    font-size: 1rem;
    color: var(--clr-2);
    text-align: center;
    padding-inline: 10px;
}

/* SMALL */
@media (min-width: 640px) {
    .main-header {
        padding: 0 15px;
    }

    .image-gallery .image-gallery-area {
        row-gap: 5px;
        column-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 15px 15px;
    }

    .editor-container {
        padding: 25px 25px;
    }
    .main-footer p {
        font-size: 1.1875rem;
    }
    .canvas-container{
        aspect-ratio: unset;
        max-width: 600px;
    }
    

}

/* MEDIUM */
@media (min-width: 940px) {
    .main-header {
        padding: 0px 25px;
    }

    .image-gallery .gallery-header {
        padding: 0 25px;
        flex-direction: row !important;
    }
    

    .image-gallery .image-gallery-area {
        row-gap: 7.5px;
        column-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 25px 25px;
    }

    .editor-container {
        align-items: unset;
        flex-direction: row !important;
        gap: 50px;
        padding: 25px 25px;
    }

    .canvas-container {
        margin-bottom: 0px;
        max-width: 500px;
    }

    .meme-editor {
        height: var(--mch);
    }
}

/* LARGE */
@media (min-width: 1100px) {
    .main-header {
        padding: 0px 30px;
    }

    .image-gallery .gallery-header {
        padding: 0 30px;
        flex-direction: row !important;
    }

    .image-gallery .image-gallery-area {
        padding: 30px 30px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .canvas-container {
        min-width: 600px;
    }

}

.hide {
    display: none !important;
}