:root {
    /* pallet */
    --clr1: #040a2c;
    --clr2: #e3e3e3;
    --clr3: #ff7f00;
    --clr4: #8a8a8a;
    --clr-1: #000;
    --clr-2: #fff;

    /* BP */
    --l: 1200px;
    --m: 860px;
    --s: 600px;

    /* main-container-high */
    --mch: calc(100vh - 207px - 66px)
}

* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: playfair, 'Times New Roman', Times, serif;
    src: url(/fonts/Playfair/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: ubuntu, Arial, Helvetica, sans-serif;
    src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
    font-family: inconsolata, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    src: url(/fonts/Inconsolata/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url(/fonts/Impact/impact.ttf);
}

/* Montserrat */
@font-face {
    font-family: montserrat-regular, Arial, Helvetica, sans-serif;
    src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-thin;
    src: url(/fonts/Montserrat/Montserrat-Thin.ttf);
}

/* BASICS  */

html {
    color: var(--clr1);
    font-family: montserrat-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

/* HELPERS */

/* flex helpers */
.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

.flex.center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.space-evenly {
    justify-content: space-evenly;
}

.flex.align-center {
    align-items: center;
}

/* list helpers */
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Layout */
.main-layout {
    height: 100vh;

}

/* COMPONENTS */

/* logo */
.logo img {
    max-height: 30px;
}

/* header  */
.main-header {
    background-color: var(--clr3);
    padding: 0 50px;
}

/* main-nav */

.main-nav a {
    text-decoration: none;
    font-size: 1.1875em;
    min-height: 66px;
    display: block;
    line-height: 66px;
    color: var(--clr-2)
}

.main-nav a.active {
    box-shadow: inset 0 -6px 0 var(--clr1);
    color: var(--clr1);
    cursor: not-allowed;
}

.main-header .main-nav a:hover:not(a.active) {
    color: green;
}

.main-nav .seperator {
    color: var(--clr4);
}


/* Image-Gallery */

.image-gallery .gallery-header {
    min-height: 100px;
    background-color: var(--clr-2);

}

.image-gallery .gallery-header ul>*:not(:last-child) {
    padding: 0 31px;
    font-size: 1.1875em;
}

.gallery-header ul .more {
    text-decoration: underline;
}

.image-gallery .image-gallery-area {
    display: grid;
    padding: 20px 20px 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: var(--clr2);
}

.image-gallery .image-gallery-area img {
    cursor: pointer;
}


/* Meme-Editor */

.meme-editor {
    background-color: var(--clr2);
    padding: 25px 0;
}

/* canvas */
.canvas-container {
    aspect-ratio: 1 / 1;
    position: relative;
}
.canvas-container .line-highlighter{
    
    position: absolute;
    height: 50px;
    border: 2px solid black;
    z-index: 10;
    width: 500px;
    top: 0;
}

/* control box */

.control-box {
    min-width: 373px;

}

.control-box button {
    cursor: pointer;
    border-radius: 12px;
    border: none;
    background-color: var(--clr-2);

}

.control-box button>* {
    height: 60px;
    width: 60px;
    padding: 10px;
    border: none;
    /* border-radius: 12px; */
    /* background-color: var(--clr-2); */
}

.control-box>*:not(:last-child) {
    margin-bottom: 30px;
    gap: 10px
}

.control-box .meme-lines-control,
.text-size-and-align,
.font-and-color {
    gap: 18px;
}

.control-box .fill-color-selector, .control-box .stroke-color-selector {
    height: 100%;
}

.control-box .stickers-picker {
    min-height: 135px;
    background-color: var(--clr-2);
}

.control-box .posting-btns>* {
    background-color: var(--clr3);
    font-family: montserrat-medium;
    color: var(--clr-2);
    border: none;
    border-radius: 12px;
    height: 60px;
    width: 120px;
    font-size: 1.25em;
    font-weight: 500;



}

/* footer */
.main-footer {
    min-height: 207px;
    background-color: var(--clr3);
}

.main-footer p {
    font-family: montserrat-thin;
    font-size: 1.1875em;
    color: var(--clr-2);
}

/* SMALL */
@media (min-width: 640px) {

    .main-layout>*:not(.full) {

        /* margin-left: auto;
        margin-right: auto; */
    }
}

/* MEDIUM */
@media (min-width: 900px) {
    .editor-container {
        flex-direction: row !important;
        padding: 0 50px;
    }

    .image-gallery {
        padding: 0 50px;
    }

    .meme-editor {
        height: var(--mch);
    }
}

/* LARGE */
@media (min-width: 1100px) {
    .image-gallery .image-gallery-area {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }



}

.hide {
    display: none !important;
}